body{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: url(../images/fabric_1.png) left top repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}

.wrapper{
	position: relative;
	width: 960px;
	margin: 0 auto;
	background: #d6d6d6;
}

.header{
	position: relative;
	height: 150px;
	width: 960px;
}

.main_menu{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 40px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.main_menu li{
	float: left;
}

.main_menu li a{
	display: block;
	width: 170px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #838383;
	color: #89a3b5;
	font-size: 21px;
	text-decoration: none;
	-webkit-box-shadow: inset 6px 6px 9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 6px 6px 9px rgba(0, 0, 0, 0.75);
	box-shadow: inset 6px 6px 9px rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.main_menu li a:hover, .main_menu li a.active{
	background: #565555;
	color: #d0e2ee;
}







.content{
	position: relative;
	width: 960px;
	background: #565555;
}

.main_content{
	position: relative;
	width: 740px;
	margin: 0;
	padding: 15px 5px 15px 15px;
	float: left;
}

.right_sidebar{
	position: relative;
	width: 185px;
	float: left;
	margin: 15px 0 0;
	background: #fff;
}

.news_home{
	position: relative;
	width: 330px;
	padding: 15px 15px 0 15px;
	margin: 0 10px 15px 0;
	text-decoration: none;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.news_home:hover{
	background: #a09f9f;
	color: #fff;
}

.news_home:hover .headline_home{
	color: #0e639e;
}

.news_home:hover .text_home{
	color: #fff;
}

.news_home:hover .date_home{
	color: #555;
}

.news_home .headline_home{
	font-size: 21px;
	color: #3f83b2;
}

.news_home .date_home{
	display: block;
	font-size: 12px;
	color: #949596;
	float: right;
	font-style: italic;
}

.news_home .text_home{
	font-size: 13px;
	color: #000;
	line-height: 17px;
	text-align: justify;
}

.news_home .text_home img{
	padding: 0 10px 10px 0;
}






.news_article{
	position: relative;
	width: 680px;
	padding: 30px 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
}

.news_article .headline_article{
	font-size: 27px;
	color: #3f83b2;
}

.news_article .date_article{
	display: block;
	font-size: 12px;
	color: #949596;
	font-style: italic;
	float: right;
}

.news_article .text_article{
	font-size: 15px;
	color: #000;
	text-align: justify;
	line-height: 20px;
}

.news_article .text_article img{
	padding: 0 15px 15px 0;
}


















.clear{
	clear: both;
}