@font-face {
	font-family: 'yn';
	src:url('fonts/yn.eot');
	src:url('fonts/yn.eot?#iefix') format('embedded-opentype'),
		url('fonts/yn.svg#yn') format('svg'),
		url('fonts/yn.woff') format('woff'),
		url('fonts/yn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}